
<div class="container">
<h1 class="logo"> El Taco </h1>
  <div class="row">
        <h1> Your Tables</h1>
  </div>
</div>

<div class="cards-container">
  <div class="row justify-content-center mx-2">
    <div class="col-12">
    <h3>Active</h3>
      <% @tabs.open.each do |tab| %>
        <div class="d-flex bold border justify-content-around bg-white">
          <p>Table <%= tab.table_number %></p>
          <span class="badge rounded-pill px-4 bg-success">
            <%= tab.status %>
          </span>
          <%= link_to "View", tab_path(tab) %>
        </div>
      <% end %>

      <h3>Empty</h3>
      <% @tabs.closed.each do |tab| %>
        <div class="d-flex bold border justify-content-around bg-gray">
          <p>Table <%= tab.table_number %></p>
          <span class="badge rounded-pill px-4 bg-secondary">
            <%= tab.status %>
          </span>
          <%= link_to "Open", tab_path(tab) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
