<div class="container">
  <h1 class="tables text-start mb-4 fw-bold">Tables</h1>

    <!-- Open tabs -->
    <h3 class="text-muted mb-3 fs-3">Active</h3>
    <% @tabs.open.each do |tab| %>
      <div class="card card-rounded p-3 mb-3 light-blue" style="background: #C8EEFF;">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="ms-3 mb-0">Table <%= tab.table_number %></h5>
          <%= link_to "View", tab_path(tab), class: "me-3" %>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <p class="text-muted mb-0 ms-3">< 3 items</p>
          <p class="text-muted mb-0 me-3"><%= display_price(tab.total_cents) %></p>
        </div>
      </div>
    <% end %>

    <!-- Empty tabs -->
    <h3 class="text-muted mb-3 mt-5 fs-3">Empty</h3>
    <% @tabs.closed.each do |tab| %>
      <div class="card card-rounded p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="ms-3 mb-0">Table <%= tab.table_number %></h5>
          <%= link_to "Open", tab_path(tab), class: "py-2 badge rounded-pill bg-primary px-3 open-badge" %>
        </div>
      </div>
    <% end %>
  <%# </div> %>
</div>
