
<div class="container">
  <div class="row">
        <h1 class="tables"> Tables</h1>
  </div>
</div>

<div class="cards-container">
  <div class="row justify-content-center mx-2">
    <div class="col-12">
    <h3 class="tableclass border-bottom">Active</h3>
      <% @tabs.open.each do |tab| %>
        <div class="d-flex bold border align-items-center justify-content-around bg-white">
          <p>Table <%= tab.table_number %></p>
          <span class="border-bottom badge rounded-pill px-4 bg-success">
            <%= tab.status %>
          </span>
          <%= link_to "View", tab_path(tab) %>
        </div>
      <% end %>

      <h3 class="tableclass border-bottom">Empty</h3>
      <% @tabs.closed.each do |tab| %>
        <div class="d-flex bold border align-items-center justify-content-around bg-gray">
          <p>Table <%= tab.table_number %></p>
          <%= link_to "Open", tab_path(tab) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
