<div class="container">
  <h1 class="logo">El Taco</h1>
  <div class="row justify-content-sm-between">
    <h1 class="tableclass text-center border-bottom"> Table <%= @tab.table_number  %></h1>
  </div>
  <h2>Total: <%= display_price(@tab.total_cents) %></h2>
</div>

<% @tab.dishes.each do |dish| %>
  <div class="container justify-content-center">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">
          <%= dish.name %>
          <span class="badge bg-secondary">
            <%= TabDish.where(tab: @tab, dish: dish).first.quantity %>
          </span>
        </h5>

        <h6 class="card-subtitle mb-2 text-muted"><%= display_price(dish.price_cents) %></h6>
        <%= link_to "-", add_unit_tab_dish_path(tab_id: @tab.id, dish_id: dish.id, dish_action: 'remove'), class: "btn", method: :post if user_signed_in? %>
        <%= link_to "+", add_unit_tab_dish_path(tab_id: @tab.id, dish_id: dish.id, dish_action: 'add'), class: "btn", method: :post if user_signed_in? %>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-4">
  <div class="d-flex justify-content-around">
    <%= link_to 'Add items', tab_dishes_path(@tab), class: 'btn-rounded btn btn-dark btn-small' if current_user %>
    <%= form_tag bills_path do %>
      <%= hidden_field_tag 'tab_id', @tab.id %>
      <%= submit_tag 'Pay all', class: 'btn btn-dark btn small btn-rounded' %>
    <% end %>

<button type="button" class="btn-rounded btn btn-dark btn-small" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Split
</button>

  </div>
</div>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Number of Guests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= simple_form_for(@bill, url: bills_split_path) do |f| %>
              <%= hidden_field_tag  :amount,  @tab.total_cents %>
              <%= hidden_field_tag  :tab_id,  params[:id]  %>
              <%= text_field_tag :number %>
              <%= f.submit "generate split bill", class: 'btn plus' %>
            <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-rounded btn btn-dark btn-small" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn-rounded btn btn-secondary btn-small">Save changes</button>
      </div>
    </div>
  </div>
</div>
