<div class="container">
  <h1 class="logo">El Taco</h1>
  <div class="row">
    <h1 class="tableclass"> Table <%= @tab.table_number  %></h1>
    <h4 class="overview">Overview</h4>
  </div>
  <h2>Total: <%= display_price(@tab.total_cents) %></h2>
</div>

<% @tab.dishes.each do |dish| %>
  <div class="container justify-content-center">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title"><%= dish.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= display_price(dish.price_cents) %></h6>
        <a href="#" class="card-link">-</a>
        <a href="#" class="card-link">+</a>
      </div>
    </div>
  </div>
<% end %>


<div class="container mt-4">
  <div class="d-flex justify-content-around">
    <%= link_to 'Add items', tab_dishes_path(@tab), class: 'btn btn-dark btn-small' if current_user %>
    <%= form_tag bills_path do %>
      <%= hidden_field_tag 'tab_id', @tab.id %>
      <%= submit_tag 'Go to payment', class: 'btn btn-dark btn small' %>
    <% end %>
  </div>
</div>
