<div class="container">
  <h1 class="logo">El Taco</h1>
  <div class="row justify-content-sm-between">
    <h1 class="tableclass text-center border-bottom"> Table <%= @tab.table_number  %></h1>
  </div>
  <h2>Total: <%= display_price(@tab.total_cents) %></h2>
</div>

<% @tab.dishes.each do |dish| %>
  <div class="container justify-content-center">
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title">
          <%= dish.name %>
          <span class="badge bg-secondary">
            <%= TabDish.where(tab: @tab, dish: dish).first.quantity %>
          </span>
        </h5>

        <h6 class="card-subtitle mb-2 text-muted"><%= display_price(dish.price_cents) %></h6>
        <%= link_to "-", add_unit_tab_dish_path(tab_id: @tab.id, dish_id: dish.id, dish_action: 'remove'), class: "btn", method: :post if user_signed_in? %>
        <%= link_to "+", add_unit_tab_dish_path(tab_id: @tab.id, dish_id: dish.id, dish_action: 'add'), class: "btn", method: :post if user_signed_in? %>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-4">
  <div class="d-flex justify-content-around">
    <%= link_to 'Add items', tab_dishes_path(@tab), class: 'btn-rounded btn btn-dark btn-small' if current_user %>
    <%= form_tag bills_path do %>
      <%= hidden_field_tag 'tab_id', @tab.id %>
      <%= submit_tag 'Pay all', class: 'btn btn-dark btn small btn-rounded' %>
    <% end %>
    <%= link_to 'Split', tab_split_path(@tab), class: 'btn-rounded btn btn-dark btn-small' %>


  </div>
</div>
