<div class="container">
<h1 class="logo"> El Taco </h1>
  <div class="row">
        <h1 class="tableclass"> Table <%= @tab.table_number  %></h1>
        <h4 class="overview">Overview</h4>
  </div>
  <h2>Total...................</h2>
   <h3 id="price-total" ></h3>
</div>



<div class="container" data-controller="price-counter">
  <div class="row justify-content-center">
    <% @tab.dishes.each do |dish| %>
      <%# <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
      <td><p><%= dish.name %></p></td>
      <td class="dish-price"><p data-price-counter-target="prices"><%= dish.price %></p></td>
      </tr>
      <td><%= dish.name %></td>
      <td> <%= humanized_money_with_symbol(dish.price_cents) %></td>
    </tr>
    <% end %>
    <%= link_to 'Add item', tab_dishes_path(@tab), class: "btn btn-dark" %>
    <%# <%= link_to 'Checkout', tab_dishes_path(@tab), class: "btn btn-dark" %>
  </div>
</div>


<%= form_tag bills_path do %>
  <%= hidden_field_tag 'tab_id', @tab.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
