<h1>Tabs#show</h1>
<p>Find me in app/views/tabs/show.html.erb</p>

<div class="container">
  <div class="row justify-content-center">
    <% @tab.dishes.each do |dish| %>
      <%# <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
      <td><%= dish.name %></td>
      <td> <%= humanized_money_with_symbol(dish.price_cents) %></td>
    </tr>
    <% end %>
    <%= link_to 'Add item', tab_dishes_path(@tab), class: "btn btn-dark" %>
    <%# <%= link_to 'Checkout', tab_dishes_path(@tab), class: "btn btn-dark" %>
  </div>
</div>


<%= form_tag bills_path do %>
  <%= hidden_field_tag 'tab_id', @tab.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
