

<div class="container">
  <div class="row justify-content-center">

 <h2>Add to Table <%= @tab.table_number %></h2>

      <%= form_tag tab_dishes_path, method: :get do %>
      <%= text_field_tag :query,
           params[:query],
         class: "form-control",
         placeholder: "Find an item"
                     %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>

<div class="cards-container">
  <div class="row mx-2">
   <h1>Dishes</h1>
      <div class="d-flex bold border justify-content-around bg-white">
        <% @dishes.each do |dish| %>
        <div class ="col-12">
          <h5><%= dish.name %></h5>
              <p><%= humanized_money_with_symbol(dish.price_cents) %></p>
                <p><%= link_to 'Show', dish_path(dish) %></p>

              <%= simple_form_for(@tab, method: :post, url: tab_tab_dishes_path) do |f| %>
                <%= f.input :dish_id, input_html: { value: dish.id }, as: :hidden %>
                <%= f.submit "Add to Tab", class: 'btn btn-dark' %>
            <% end %>
            <% end %>
          </div>
          </div>
      </div>
</div>
