

<div class="container">
  <div class="row justify-content-center">
      <h1>Dishes#index</h1>
      <p>Find me in app/views/dishes/index.html.erb</p>
      <h2>List of Dishes</h2>

      <%= form_tag dishes_path, method: :get do %>
      <%= text_field_tag :query,
           params[:query],
         class: "form-control",
         placeholder: "Find an item"
                     %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>

  </div>
</div>

<div class="card">
      <% @dishes.each do |dish| %>
      <div class="card-category">
        <ul>
          <li><%= dish.name %></td>
          <li><%= dish.price %></td>
          <li><%= dish.description %></td>
          <li><%= link_to 'Show', dish_path(dish) %></td>
        </ul>
      <% end %>
      </div>
</div>
