

<div class="container">
  <div class="row justify-content-center">

 <h2>Add to Table <%= @tab.table_number %></h2>

      <%= form_tag tab_dishes_path, method: :get do %>
      <%= text_field_tag :query,
           params[:query],
         class: "form-control",
         placeholder: "Find an item"
                     %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>

<div class="container">
  <h1>Dishes</h1>
  <div class="row">
    <% @dishes.each do |dish| %>
      <div class="col-sm-4">
        <div class="card">
            <h5 class="card-title"><%= dish.name %></h5>
            <p class="card-text"><%= dish.description %></p>
              <p><%= link_to 'Show', dish_path(dish) %></p>

            <%= simple_form_for(@tab, method: :post, url: tab_tab_dishes_path) do |f| %>
              <%= f.input :dish_id, input_html: { value: dish.id }, as: :hidden %>
              <%= f.submit "Add to Tab", class: 'btn btn-dark' %>
          <% end %>
          <% end %>
          </div>
      </div>
  </div>
</div>
